[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=JMita 2
Icon=jmita2
Path=/home/druzy
Exec=/usr/bin/jmita2.sh
StartupNotify=false
StartupWMClass=JMita2
OnlyShowIn=Unity;
X-UnityGenerated=true
